<html>
<head>
	<title></title>
</head>
<body>
<h2>All My Friends!</h2>
<% for (var x in friends) { %>
	<h3>Name: <%= friends[x].name %></h3>
	<hr>
<% } %>
<form action='/friends' method='post'>
	Name: <input type='text' name='name'>
	<input type='submit' value='Create!'>
</form>
</body>
</html>