<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>New Product</h1>
			<form class="form" action="/products/" method="post">
				<%= render "shared/error_messages" %>
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<div class="col-sm-12 form-group">
					<label>Category</label>
					<select class="form-control" name="product[category_id]">
						<option value="">Pick Category</option>
						<% @categories.each do |category| %>
						<option value="<%= category.id %>"><%= category.name %></option>
						<% end %>
					</select>
				</div>
				<div class="col-sm-12 form-group">
					<label>Name</label>
					<input type="text" name="product[name]" class="form-control">
				</div>
				<div class="col-sm-12 form-group">
					<label>Description</label>
					<input type="text" name="product[description]" class="form-control">
				</div>
				<div class="col-sm-12 form-group">
					<label>Price</label>
					<input type="text" name="product[price]" class="form-control">
				</div>
				<div class="col-sm-12 form-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div> 
			</form>
			<a href="/products/">
				Back
			</a>
		</div>
	</div>
</div>