<div class="row">
	<div class="col-md-6">
		<h2>New Appointment</h2>
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-md-6 bg-danger" ng-show="isError">
		<ul>
			<li ng-repeat="error in errors">{{error.error}}</li>
		<ul>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-1">
		<label>Date:</label>
	</div>
	<div class="col-md-2">
		<input type="date" ng-model="newAppointment.date" class="form-control">
	</div>
	<div class="col-md-1">
		<label>Time:</label>
	</div>
	<div class="col-md-2">
		<select ng-model="newAppointment.time" class="form-control">
			<option ng-repeat="time in times" value="{{time}}">{{time}}</option>
		</select>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-1">
		<label>Complain</label>
	</div>
	<div class="col-md-5">
		<textarea ng-model="newAppointment.complain" class="form-control" rows="5"></textarea>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-6 text-right">
		<button class="btn btn-success" ng-click="createAppointment(newAppointment)">Add Appointment</button>
	</div>
</div>