<!DOCTYPE html>
<head>
	<title>Survey Form</title>
    <meta charset="utf-8">
</head>
<body>
    <div class="container">
    	<div class="row">
    		<div class="col-md-6 col-md-offset-3">
				<h1>Survery Form</h1>
				<form class="form" method="post" action="/create">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<div class="row form-group">
						<label class="col-md-3">Your Name:</label>
						<div class="col-md-9">
							<input name="user[name]" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3">Dojo Location</label>
						<div class="col-md-9">
							<select name="user[dojo_location]" class="form-control">
								<option>Mountain View</option>
								<option>San Jose</option>
								<option>Seattle</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3">Favorite Language</label>
						<div class="col-md-9">
							<select name="user[favorite_language]" class="form-control">
								<option>Javascript</option>
								<option>Ruby</option>
								<option>Python</option>
								<option>PHP</option>
								<option>C++</option>
								<option>Java</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3">Comment (Optional):</label>
						<div class="col-md-9">
							<textarea class="form-control" rows="10" type="textarea" name="user[comment]"></textarea>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12 text-right">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</div>
		        </form>
        	</div>
    	</div>
    </div>
</body>
</html>