<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cars</title>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    	<div class="container">
    		<nav class="navbar navbar-default">
        		<div class="container-fluid">
          			<div class="navbar-header">
            			
            			<a class="navbar-brand" href="/">Cars and Cats</a>
          			</div>
          			<div id="navbar" class="navbar-collapse collapse">
          				<ul class="nav navbar-nav navbar-right">
          					<li><a href="/cars">Cars</a></li>
				    		<li><a href="/cats">Cats</a></li>
				    		<li><a href="/cars/new">Add a Car</a></li>
          				</ul>
          			</div>
          		</div>
          	</nav>
	    	<h1 class="text-center">Cars</h1>
	    	<div class="items">
				<div class="item">
					<a>
						<img src="images/car01.jpg">
						<div>
							<h3 class="text-center">Car 1</h3>
						</div>
					</a>
				</div>
				<div class="item">
					<a>
						<img src="images/car02.jpg">
						<div>
							<h3 class="text-center">Car 2</h3>
						</div>
					</a>
				</div>
				<div class="item">
					<a>
						<img src="images/car03.jpg">
						<div>
							<h3 class="text-center">Car 3</h3>
						</div>
					</a>
				</div>
				<div class="item">
					<a>
						<img src="images/car04.jpg">
						<div>
							<h3 class="text-center">Car 4</h3>
						</div>
					</a>
				</div>
				<div class="item">
					<a>
						<img src="images/car05.jpg">
						<div>
							<h3 class="text-center">Car 5</h3>
						</div>
					</a>
				</div>
	    	</div>
    	</div>
    </body>	
</html>