<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add a Car</title>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    	<div class="container">
    		<nav class="navbar navbar-default">
        		<div class="container-fluid">
          			<div class="navbar-header">
            			
            			<a class="navbar-brand" href="/">Cars and Cats</a>
          			</div>
          			<div id="navbar" class="navbar-collapse collapse">
          				<ul class="nav navbar-nav navbar-right">
          					<li><a href="/cars">Cars</a></li>
				    		<li><a href="/cats">Cats</a></li>
				    		<li><a href="/cars/new">Add a Car</a></li>
          				</ul>
          			</div>
          		</div>
          	</nav>
    		<h1 class="text-center">Add a Car</h1>
    		<div class="row">
    			<div class="col-md-6 col-md-offset-3 text-center">
		    		<form class="form-horizontal">
		    			<div class="form-group">
		    				<label class="col-md-2 control-label">Car ID</label>
		    				<div class="col-md-10">
		    					<input class="form-control">
		    				</div>
		    			</div>
			    		<div class="form-group">
			    			<label class="col-md-2 control-label">Brand</label>
			    			<div class="col-md-10">
			    				<input class="form-control">
			    			</div>
			    		</div>
			    		<div class="form-group">
			    			<label class="col-md-2 control-label">Color</label>
			    			<div class="col-md-10">
			    				<input class="form-control">
			    			</div>
			    		</div>
			    		<div class="form-group">
			    			<label class="col-md-2 control-label">Price</label>
			    			<div class="col-md-10">
			    				<input class="form-control">
			    			</div>
			    		</div>
			    		<div class="col-md-12 text-right">
			    			<button class="btn btn-primary" type="submit">Enter</button>
			    		</div>
			    	</form>
		    	</div>
	    	</div>
    	</div>
    </body>
</html>