<% provide(:title, "Help") %>
<section>
	<div class="container">
		<div class="row">
			<h1>StaticPages#help</h1>
			<p>Find me in app/views/static_pages/help.html.erb</p>
		</div>
	</div>
</section>
